.nav-link{
    transition: 0.3s ease-in-out;
    position: relative;
}
.nav-link::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(219, 217, 217);
    position: absolute;
    top: 47px;
    left: 0;
    transition: 0.3s;
}
.nav-link:hover::after{
    width: 100%;
}
.nav-link:hover{
    color: rgb(22, 29, 225);

}
 .carousel-item img{
    min-height: 300px;
    
} 

.inventory .card{
    box-shadow: 5px 5px 15px rgb(211, 211, 211);
}
.inventory .card-img-top{
    transition: 0.3s ease-out;
}
.inventory .card-img-top:hover{
    transform: scale(1.07);
    

}
#service{
    border: 2px solid transparent;
}
#service:hover{
    border-bottom: 2px solid rgb(42, 103, 233);
    box-shadow: 3px 7px 15px rgb(205, 205, 205);
}
span{
    color: rgb(73, 20, 20);
}